.quick-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    background: #333;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.quick-links .logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}

.quick-links .logo i {
    color: gold;
}

.quick-links .links a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: #fff;
}

.quick-links .links a:hover {
    color: gold;
}

.quick-links .share a {
    font-size: 2.5rem;
    color: #fff;
    margin-left: 2rem;
}

.quick-links .share a:hover {
    color: gold;
}

.credit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    background: #fff;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.credit p {
    font-size: 2rem;
    color: #666;
}

.credit p span {
    color: #0984e3;
}

.credit img {
    height: 4rem;
    -webkit-filter: drop-shadow(0 0 0.1rem #333);
    filter: drop-shadow(0 0 0.1rem #333);
}

@media (max-width: 991px) {
    .quick-links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        text-align: center;
    }
    .quick-links .links {
        padding: 1rem 0;
    }
    .quick-links .links a {
        display: block;
        font-size: 2rem;
        padding: 1rem 0;
    }
    .quick-links .share a {
        margin: 0 1rem;
    }
    .credit {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        text-align: center;
    }
}