<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page | Cloud Store</title>

    <!-- css link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/separatePage/contactPage.css}">
</head>
<body>

<!-- header section starts  -->
<header class="header">
    <a th:href="@{/}" href="" class="logo"> <i class="fas fa-store"></i> Cloud Store </a>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="What are you looking for...">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="icons">
        <div id="search-btn" class="fas fa-search"></div>
        <a th:href="@{/cart}" class="fas fa-shopping-cart"></a>
        <a th:href="@{/login}" class="fas fa-user"></a>
    </div>
</header>

<!-- shopping cart section starts  -->
<section class="shopping-cart">
    <h1 class="heading">Your <span>products</span></h1>
    <div class="box-container">

        <form th:action="@{/update}" method="post">
            <th:block th:each="cartProduct : ${session.cart}">
        <div class="box" th:with="product = ${cartProduct.product}">
            <i class="fas fa-times"></i>
            <img th:src="@{${product.getImagePath}}">
            <div class="content">
                <h3 th:title="${product.name}">
                    <b>[[${product.name}]]</b>
                </h3>
                <div> <input name="quantity" th:value="${cartProduct.quantity}" type="number" /></div>

                <div class="price"><span>[[${product.price}]]</span></div>
            </div>
        </div>
            </th:block>
        </form>

<!--        <div class="box">-->
<!--            <i class="fas fa-times"></i>-->
<!--            <img th:src="@{/images/products/product-2.jpg}" alt="">-->
<!--            <div class="content">-->
<!--                <h3>camera</h3>-->
<!--                <form action="">-->
<!--                    <span>quantity : </span>-->
<!--                    <input type="number" name="" value="1" id="2">-->
<!--                </form>-->
<!--                <div class="price">$249.99 <span>$399.99</span></div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="box">-->
<!--            <i class="fas fa-times"></i>-->
<!--            <img th:src="@{/images/products/product-3.jpg}" alt="">-->
<!--            <div class="content">-->
<!--                <h3>television</h3>-->
<!--                <form action="">-->
<!--                    <span>quantity : </span>-->
<!--                    <input type="number" name="" value="1" id="3">-->
<!--                </form>-->
<!--                <div class="price">$249.99 <span>$399.99</span></div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="box">-->
<!--            <i class="fas fa-times"></i>-->
<!--            <img th:src="@{/images/products/product-4.jpg}" alt="">-->
<!--            <div class="content">-->
<!--                <h3>speaker</h3>-->
<!--                <form action="">-->
<!--                    <span>quantity : </span>-->
<!--                    <input type="number" name="" value="1" id="4">-->
<!--                </form>-->
<!--                <div class="price">$249.99 <span>$399.99</span></div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="box">-->
<!--            <i class="fas fa-times"></i>-->
<!--            <img th:src="@{/images/products/product-6.jpg}" alt="">-->
<!--            <div class="content">-->
<!--                <h3>smartwatch</h3>-->
<!--                <form action="">-->
<!--                    <span>quantity : </span>-->
<!--                    <input type="number" name="" value="1" id="6">-->
<!--                </form>-->
<!--                <div class="price">$249.99 <span>$399.99</span></div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="box">-->
<!--            <i class="fas fa-times"></i>-->
<!--            <img th:src="@{/images/products/product-7.jpg}" alt="">-->
<!--            <div class="content">-->
<!--                <h3>headphone</h3>-->
<!--                <form action="">-->
<!--                    <span>quantity : </span>-->
<!--                    <input type="number" name="" value="1" id="7">-->
<!--                </form>-->
<!--                <div class="price">$249.99 <span>$399.99</span></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="cart-total">
        <h3> subtotal : <span>$1499.94</span> </h3>
        <h3> discount : <span>-$99.94</span> </h3>
        <h3> subtotal : <span>$1400.00</span> </h3>
        <a th:href="@{/payment}" class="btn">Proceed to checkout</a>
    </div>
</section>

<!-- footer section starts  -->
<section class="quick-links">
    <a th:href="@{/}" class="logo"> <i class="fas fa-store"></i> Cloud Store </a>

    <div class="links">
        <a th:href="@{/}"> <i class="fas fa-angle-right"></i> Home </a>
        <a th:href="@{/shop}"> <i class="fas fa-angle-right"></i> Shop </a>
        <a th:href="@{/staff}"> <i class="fas fa-angle-right"></i> Staff </a>
        <a th:href="@{/contact}"> <i class="fas fa-angle-right"></i> Contact </a>
    </div>

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>
</section>

<section class="credit">
    <p>Copyright @ 2021 by <span>Cloud Store</span> | All Rights reserved.</p>

    <img th:src="@{/images/card_img.png}" alt="Cart image">
</section>

<!-- js link -->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script th:src="@{/js/base/search.js}"></script>
</body>
</html>