<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard | Cloud Store</title>

    <!-- css link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/dashboard.css}">
</head>
<body>

<!-- header section starts  -->
<header class="header">
    <a th:href="@{/}" href="" class="logo"> <i class="fas fa-store"></i> Cloud Store </a>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="What are you looking for...">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="icons">
        <div id="search-btn" class="fas fa-search"></div>
        <a th:href="@{/cart}" class="fas fa-shopping-cart"></a>
        <a th:href="@{/login}" class="fas fa-user"></a>
    </div>
</header>

<!-- dashboard starts  -->


<!-- js link -->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script th:src="@{/js/base/search.js}"></script>
</body>
</html>